# Alles ignorieren
*

# Nicht .gitignore selbst
!.gitignore

# Whitelist für Ordner
!nvim/
!nvim/**
!tmux/
!tmux/**
!wezterm/
!wezterm/**
!zsh/
!zsh/**

# Whitelist für die Scripts
!deploy_local.sh
!export_conf.sh
