# Alles ignorieren
*

# Nicht .gitignore selbst
!.gitignore

# Whitelist für Ordner
!nvim/
!nvim/**
!tmux/
!tmux/**
!wezterm/
!wezterm/**
!zsh/
!zsh/**
!doom/
!doom/**
!sway/
!sway/**
!waybar/
!waybar/**

# Whitelist für die Scripts
!deploy_local.sh
!export_conf.sh
!sync_vars.sh

# Whitelist devdocs Einstellungen
!devdocs.json
